<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <form method="post" action="" enctype="multipart/form-data" id="myform">
            <div >
                <input type="file" id="file" name="file" />
                <input type="button" class="button" value="Upload" id="btn_submit">
            </div>
        </form>
    </div>

    <h1 id="status"></h1>
</body>
<script src="/static/scanner.js?ffff"></script>
</html>